body{
color:rgb(103, 14, 177);

background:rgb(247, 245, 245);

}

header{
border-bottom: solid 2px rgb(rgb(135, 87, 189));
padding: 20px;
font-size: 32px;
color: rgb(34, 33, 33);
background: (rgb(245, 241, 241));

}
.chamada{
background:rgb(251, 250, 248) ;
padding-bottom: 100px;
padding-top: 100px;
display: flex;
justify-content: center;

}
.chamada-texto{
margin: right 5%;

.categoria_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categorias {
    padding-left: 20px;
    padding-right: 20px;
}

}

p{
text-align: center;
font-size: 10px;

}












