body{
 color: rgb(235, 195, 235);

background: rgb(170, 29, 201);
}
header{
    border-bottom: solid 2px ( rgb(212, 87, 212))
    padding: 20px
    
}
.chamada{
    background: chartreuse
    padding-bottom:100px;
    padding-top: 100px
    display:flex
    justify-content:center
}

p{
    text-align: center;
    font-size: 10px;
}










