body{
 color: rgb(212, 87, 212);

background: white;
}
header{
    border-bottom: solid 2px ( rgb(212, 87, 212))
    padding: 20px
    
}
.chamada{
    background: chartreuse
    
}

p{
    text-align: center;
    font-size: 10px;
}










